<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>allstar</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');
  </style>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <header>
    <a href="#"><img class="kovo-logo" src="src/kovo-logo.svg" alt="kovo logo" /></a>
  </header>
  <div class="main-container">
    <div>
      <p>도드람 2023-2024 V-리그</p>
      <h1> 올스타 투표</h1>
      <p>올스타에 선정될 선수들을 직접 투표해 주세요.<br />
        투표하신 분들을 추첨하여 소정의 상품을 드립니다.</p>
    </div>

    <nav class="links">
      <a href="#" class="link-button">올스타 투표하러 가기</a>
      <a href="#" class="link-button">KOVO 홈페이지 가기</a>
    </nav>

    <div class="main">
      <section class="explanation">
        <h3 class="explain-title">
          투표기간
        </h3>
        <p class="explain-text">2024.01.15(월)~2024.01.25(목)</p>
      </section>
      <section class="explanation">
        <h3 class="explain-title">
          투표방법
        </h3>
        <p class="explain-text">
          - 투표는 K-스타 여자부부터 진행 가능하며, 완료 시 V-스타 여자부까지 순차적으로 참여 가능합니다. <br />
          - 동일 구단 선수는 3명까지 투표할 수 있습니다.<br />
          - 투표는 K-스타 여자부, V-스타 여자부 모두 선택하셔야 완료됩니다.<br />
          - 투표 결과보기는 모든 투표를 완료하신 후 K-스타 여자부, V-스타 여자부 탭을 선택하시면 가능합니다.<br />
        </p>
      </section>
      <section class="explanation">
        <h3 class="explain-title">
          경품안내
        </h3>
        <ul class="goods-list">
          <li class="goods-info">
            <img class="goods-img" src="src/goods.jpg" alt="" />
            <p class="goods-count">5명</p>
            <h4 class="goods-title">도드람 한돈 한마리세트</h4>
          </li>
          <li class="goods-info">
            <img class="goods-img" src="src/goods.jpg" alt="" />
            <p class="goods-count">5명</p>
            <h4 class="goods-title">도드람 선물세트</h4>
          </li>
          <li class="goods-info">
            <img class="goods-img" src="src/goods.jpg"  alt="" />
            <p class="goods-count">5명</p>
            <h4 class="goods-title">도드람 가공 알찬세트</h4>
          </li>
          <li class="goods-info">
            <img class="goods-img" src="" alt="" />
            <p class="goods-count">5명</p>
            <h4 class="goods-title">도드람 햄 세트</h4>
          </li>
          <li class="goods-info">
            <img class="goods-img" src="" alt="" />
            <p class="goods-count">5명</p>
            <h4 class="goods-title">도드람 바베큐 세트</h4>
          </li>
          <li class="goods-info">
            <img class="goods-img" src="" alt="" />
            <p class="goods-count">5명</p>
            <h4 class="goods-title">FILA 자가토</h4>
          </li>
          <li class="goods-info">
            <img class="goods-img" src="" alt="" />
            <p class="goods-count">20명</p>
            <h4 class="goods-title">포카리스웨트 선물세트</h4>
          </li>
          <li class="goods-info">
            <img class="goods-img" src="" alt="" />
            <p class="goods-count">10명</p>
            <h4 class="goods-title">스타스포츠 요가롤러</h4>
          </li>
          <li class="goods-info">
            <img class="goods-img" src="" alt="" />
            <p class="goods-count">10명</p>
            <h4 class="goods-title">스타스포츠 요가매트</h4>
          </li>
        </ul>
      </section>
      <section class="explanation">
        <h3 class="explain-title">당첨자발표</h3>
        <p class="explain-text">2024년 1월 29일(월) KOVO홈페이지 및 SNS 발표</p>
      </section>
      <section class="explanation">
        <h3 class="explain-title">후원사</h3>
        <div class="sponsor-banners">
          <a href="#"><img src="" alt=""></a>
          <a href="#"><img src="" alt=""></a>
          <a href="#"><img src="" alt=""></a>
        </div>
      </section>
    </div>
  </div>

  <footer>
    COPYRIGHT &copy; KOREAN VOLLEYBALL FEDERATION. ALL RIGHTS RESERVED.
  </footer>
</body>

</html>